div#container {
  background-color: #1b1d1f !important;
}

section.js-column.column.will-animate:nth-child(4) {
  filter: blur(5px);
 transition: .25s ease-in-out;
}

section.js-column.column.will-animate:hover {
  filter: blur(0px);
}